.editprofile-page {
    height: 100%;
    width: 100%;
    background: #0F051D;
    color: #FFF;
    font-family: Poppins;
    display: flex;
    
}

.list-container {
    padding-top: 57px;
    margin-left: 50px;
}

hr {
    width: 100%;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}