.blur-back{
    position: absolute;
    top: 0;
    background: rgba(118, 118, 118, 0.20);
    backdrop-filter: blur(9px);
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-div{
    width: 894px;
    height: 451px;
    border-radius: 25px;
    background: #484848;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.cover-div{
    width: 40%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.icon-icons.com/icons2/1580/PNG/512/2849798-interface-multimedia-upload_107984.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.cover-img{
    width: 226.398px;
    height: 343px;
    opacity: 0;
    cursor: pointer;
}

.info-div {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    position: relative;
    
}



.exit-div{

    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.nameurlist{

    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;

}

.input-name{
    border: none;
    border-bottom: 2px solid #8C8C8C; /* Cambia el color como desees */
    outline: none;
    background: none;
    color: #8C8C8C;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}

.btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-create{
    width: 212px;
    height: 61px;
    border-radius: 5px;
    background: #9497FF;
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    border: none;
    margin-top: 30px;
       
}

